<header>
    <article>
        <button class="btn-toggle">
            <img class="sun-btn" src="/img/sun.svg" alt="sun">
            <img class="moon-btn"  src="/img/moon.svg" alt="moon">
        </button>
        <a href="/algemeen">
            <h3>Zoek een oppas</h3>
        </a>
    </article>
    <article>
        <a href="/">
            <h2>Meld je aan als oppas</h2>
        </a>
    </article>
</header>