<header>
    <article>
        <a href="/algemeen">
            <h3>Zoek een oppas</h3>
        </a>
    </article>
    <article>
        <a href="/">
            <h2>Meld je aan als opppas</h2>
        </a>
    </article>
</header>