<header>
    <article>
        <button class="btn-toggle">
            <p>Light & Dark</p>
        </button>
        <a href="/algemeen">
            <h3>Zoek een oppas</h3>
        </a>
    </article>
    <article>
        <a href="/">
            <h2>Meld je aan als oppas</h2>
        </a>
    </article>
</header>