<main>
	<section>
		<h1>Aanmeldfomrulier</h1>
		<p></p>
	</section>
	<section>
		<form action="/" method="POST">
			<div class='placeholder-input-field'>
				<input type='text' placeholder='Voornaam' />
				<label for='voornaam'>Voornaam</label>
			</div>
			<div class='placeholder-input-field'>
				<input type='text' placeholder='Achternaam' />
				<label for='voornaam'>Achternaam</label>
			</div>
			<button>Verzenden</button>
		</form>
	</section>
</main>