/* font-size */

/* Algemeen */

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	font-family: 'Roboto', sans-serif;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0em;
	margin-inline-end: 0em;
	scroll-behavior: smooth;
}

main{
    max-width: 43.75em;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
  
  @media screen and (min-width: 62em) {
    main{
      max-width: 75em;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* Header */

/* body main */

body{
  background-color: #F8F4F1;
}

article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


header{
  height: 100px;
  background: #F8F4F1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* input fields*/

.placeholder-input-field{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.placeholder-input-field:nth-of-type(1){
    margin: 0px;
}
.placeholder-input-field input ~ label {
	opacity: 0;
    order: 0;
    transition: .5s;
    font-size: 11px;
}

.placeholder-input-field input:focus ~ label  {
	opacity: 1 !important;
    transition: .5s;
    font-size: 11px;
}

.placeholder-input-field input:focus::placeholder  {
	color: transparent;
}

.placeholder-input-field input{
    order: 1;
    padding: 10px;
}
input[type=text], input[type=email]{
    width: 90%;
    height: 40px;
    border: none;
    background: white;
    margin-bottom: 13px;  
}

input[type=text]:focus-visible, input[type=email]:focus-visible{
  outline: none;
}

button{
    background: #fa9ef7;
    outline: none;
    box-shadow: none;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-top: 40px;
    transition: 0.3s;
    border-radius: 10px;
}

button:hover{
  background: #fff;
  transition: 0.3s;
}

/* Footer */

footer p {
	color: #000;
	font-size: 14px;
}

footer {
	display: flex;
	justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #F8F4F1;
  margin-top: 100px;
}

.d-flex-wrap{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.wrap-article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h3{
  padding-top: 30px;
  padding-bottom: 15px;
}

input[type=radio]{
  padding-top: 30px;
}

.pt-full{
  padding-top: 30px;
}

.pt-half{
  padding-top: 15px;
}

.article-voorstel{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

p{
  font-size: 14px;
}

h1{
  padding-bottom: 10px;
}

textarea{
    border: none;
    background: white;
    border-bottom: 3px solid rgb(6, 6, 153);
    margin-bottom: 13px;
}

textarea:focus-visible{
  outline: none;
}

.font-size-small{
  font-size: 11px;
  font-weight: 300;
}


input[type=text]:invalid {
  background-color: #ffff;
}

input[type=text]:valid {
  background-color: #ddffdd;
} 